$lightTextColor: #FFFFFF;
$darkTextColor: #333333;
$backgroundColor: #F7CAC9;
$accentColor: #92A8D1;
$cartBackgroundColor: #FFECEC;
$inventoryBackgroundColor: #ECEEFF;
$potionBackgroundColor: #FFECEC;
