$lightTextColor: #FEF0ED;
$darkTextColor: #44210f;
$backgroundColor: #CC9076;
$accentColor: #703A1E;
$cartBackgroundColor: #FEF0ED;
$inventoryBackgroundColor: #ECD5A2;
$potionBackgroundColor: #FEF0ED;