@import 'src/constants/colors.scss';
@import 'src/constants/dimensions.scss';

.storeContainer {
  display: flex;
  height: calc(100svh - $headerHeight);
  // overflow-y: auto;
  box-sizing: border-box;
  // padding: 15px;
  // padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // z-index: 1;
}

.inventoryContainer {
  display: flex;
  height: calc(100% - $footerHeight);
  overflow-y: auto;
  box-sizing: border-box;
  padding: 15px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  width: 100%;
}

.paymentMethodContainer {
  width: 100%;
  padding: 10px 20px;
  border: 3px solid $accentColor;
  background-color: $inventoryBackgroundColor;
  border-radius: 15px;
  box-sizing: border-box;
  filter: drop-shadow(0px 15px 7px rgba(0, 0, 0, 0.3));
  margin-bottom: 15px;;
  z-index: 1;

  form {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-bottom: 10px;
  }

  label {
    display: flex;
    flex-direction: column;
  }

  .inputWrapper {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    gap: 10px;

    textarea {
      height: 20px;
    }

    .notesInput {
      width: 50%;
      height: 40px;
      text-align: start;
    }
  }
}

.checkoutContainer {
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
  border-top: 2px solid $accentColor;
  background-color: rgba($accentColor, 0.25);

  button {
    width: calc(50% - 10px);
    height: 40px;
    border-radius: 15px;
    border: none;
  }

  button:disabled {
    opacity: 50%;
  }

  .cancel {
    font-weight: bold;
    color: $accentColor;
    color: $darkTextColor;
    background-color: $backgroundColor;
    border: 3px solid $potionBackgroundColor;
    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.3));
  }

  .checkout {
    font-weight: bold;
    color: $accentColor;
    color: $darkTextColor;
    background-color: $inventoryBackgroundColor;
    border: 3px solid $accentColor;
    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.3));
  }
}


@media only screen and (min-width: 768px) {
  .storeContainer {
    height: calc(100svh - $headerHeightDesktop);
  }

  .paymentMethodContainer {
    // .inputWrapper {
    //   justify-content: flex-start;
    // }

    form {
      justify-content: flex-start;
      gap: 20px;
    }
  }
}
