@import 'src/constants/colors.scss';

.storeContainer {
  display: flex;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkoutContainer {
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    width: calc(50% - 10px);
    height: 40px;
    border-radius: 15px;
    border: none;
  }

  .cancel {
    // background-color: $lightTextColor;
  }

  .checkout {
    color: $lightTextColor;
    background-color: $accentColor;
  }
}


@media only screen and (min-width: 768px) {
}