@import 'src/constants/colors.scss';

.potion {
  position: relative;
  // background-color: $potionBackgroundColor;
  height: 150px;
  width: 125px;
  border-radius: 15px;
  // overflow: hidden;

  scroll-snap-align: start;
  padding: 5px 5px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid $backgroundColor;
  // filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.3));
  // z-index: 1;

  h3 {
    font-size: 12px;
    // font-weight: normal;
    z-index: 1;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
  }

  img {
    position: absolute;
    // top border radius 15px
    border-radius: 15px 15px 0 0;
    // bottom: 30px;
    top: 0;
    left: 0;
    width: 100%;
  }

  .quantityContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $backgroundColor;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    // z-index: 1;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input {
      text-align: center;
      width: calc(100% - 44px);
      background: rgba(255, 255, 255, 0.5);
      border: none;
      color: $darkTextColor;
    }

    .subtract, .add {
      -webkit-user-select: none; /* Safari */        
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
      height: 100%;
      border: none;
      width: 40px;

      display: flex;
      justify-content: center;
      align-items: center;
      background: none;

      color: $darkTextColor;
    }

    .subtract {
      border-right: 2px solid $potionBackgroundColor;
    }

    .add {
      border-left: 2px solid $potionBackgroundColor;
    }
  }
}